<!-- Simple basic logback config file

Config details: http://logback.qos.ch/manual/configuration.html

Configuration debug="true" will print config debug information.
-->

<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/pi/arcbot/logs/arcbot.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>arcbot_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mandfer.tools.system" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>
